In [10]:
import pandas as pd
import math
import random
def convert_speed(row):
    PI = 3.1416
    dir_x = 0
    dir_y = 0
    deg = row['course']
    if (deg >= 0 or deg == 360) and deg < 90:
        if deg == 0 or deg == 360:
            dir_x = 0
        else:
            dir_x = 1
        dir_y = 1
    elif deg >= 90 and deg < 180:
        if deg == 90:
            dir_y = 0
        else:
            dir_y = -1
        dir_x = 1
    elif deg >= 180 and deg < 270:
        if deg == 180:
            dir_x = 0
        else:
            dir_x = -1
        dir_y = -1
    elif deg >= 270 and deg < 360:
        if deg == 270:
            dir_y = 0
        else:
            dir_y = 1
        dir_x = -1
    rad = deg * PI / 180
    vx = round(row['speed'] * math.cos(rad), 5)
    vy = round(row['speed'] * math.sin(rad), 5)
    return str(vx)+','+str(vy)

def random_radius(row):
    SCALE_CONST = 1000000
    MIN = 400
    MAX = 600
    new_rad = float(random.randint(MIN, MAX))/SCALE_CONST
    return str(new_rad)

## Get Vessel Data

In [11]:
df = pd.read_csv('ais.csv')
df = df.dropna()
df.info()
df['id'] = pd.factorize(df['shipid'])[0]
df = df.loc[df['id'] <= 51]
df = df.drop_duplicates(subset=['id'], keep='first')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166633 entries, 0 to 371584
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   t            166633 non-null  object
 1   shipid       166633 non-null  object
 2   lon          166633 non-null  float64
 3   lat          166633 non-null  float64
 4   heading      166633 non-null  float64
 5   course       166633 non-null  float64
 6   speed        166633 non-null  float64
 7   shiptype     166633 non-null  float64
 8   destination  166633 non-null  object
dtypes: float64(6), object(3)
memory usage: 12.7+ MB

In [8]:
df.head(10)

,t,shipid,lon,lat,heading,course,speed,shiptype,destination,id
0,2020-02-29T22:00:01Z,10807db4-2c77-4a7a-a418-0af8f0d672d8,23.537350,37.856717,40.0,0.0,0.0,70.0,GRPIR,0
1,2020-02-29T22:00:01Z,203d4b0c-6808-454b-ae7a-382dbd3d79e3,23.641017,37.948300,181.0,349.9,0.0,89.0,PIRAEUS,1
3,2020-02-29T22:00:01Z,8b998a42-caba-4baa-81e2-2318f290906e,23.668633,37.938840,296.0,0.1,0.0,37.0,AEGEAN SEA,2
5,2020-02-29T22:00:02Z,642d0bd7-519c-42d5-a294-215d889da3d1,23.547662,37.913112,344.0,33.3,0.1,80.0,PERIOCHI,3
10,2020-02-29T22:00:03Z,076431cc-5ae5-4a0f-a46c-726b56443ca5,23.683820,37.928758,23.0,248.2,0.0,37.0,PROVA,4
13,2020-02-29T22:00:03Z,6355d97e-0c5e-4ff0-95d7-02c7061677c5,23.566555,37.960955,185.0,344.1,0.1,37.0,PERAMA,5
14,2020-02-29T22:00:03Z,64cb614a-8687-409e-b2ce-d7bbf5d318d0,23.532077,37.879800,31.0,0.1,0.0,79.0,PIRAEUS AHORAGE,6
16,2020-02-29T22:00:04Z,1c46a91b-90ac-4a5e-85bc-461e446ea042,23.682718,37.930900,212.0,16.9,0.0,60.0,ARG/KOS,7
17,2020-02-29T22:00:04Z,a0d881e0-d774-4f2d-b2ad-23014b794aac,23.519545,37.828400,110.0,110.3,15.8,80.0,CARTAGENA,8
21,2020-02-29T22:00:05Z,94751f6e-79e7-48a2-a9a5-e5b609f617c8,23.506662,38.036450,179.0,182.0,0.0,52.0,ELEFSIS,9

In [7]:
df.shiptype.unique()

array([70., 89., 37., 80., 79., 60., 52.,  1., 71., 32., 40., 69., 90.])

In [62]:
df['t'] = pd.factorize(df['t'])[0]
df['v'] = df.apply(lambda row: convert_speed(row), axis=1)
df['r'] = df.apply(lambda row: random_radius(row), axis=1)
del df['speed']
del df['course']
del df['shiptype']
del df['destination']
del df['heading']
del df['shipid']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 486
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   t       52 non-null     int64
 1   lon     52 non-null     float64
 2   lat     52 non-null     float64
 3   id      52 non-null     int64
 4   v       52 non-null     object
 5   r       52 non-null     object
dtypes: float64(2), int64(2), object(2)
memory usage: 2.8+ KB

In [63]:
filename = 'vessel_AIS.csv'
df.to_csv(filename, index=False, sep='|')

## Get Obj Data

In [64]:
df = pd.read_csv('ais.csv')
df = df.dropna()
df.info()
df['id'] = pd.factorize(df['shipid'])[0]
df = df.loc[df['id'] > 51]
df['id'] = pd.factorize(df['id'])[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166633 entries, 0 to 371584
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   t            166633 non-null  object
 1   shipid       166633 non-null  object
 2   lon          166633 non-null  float64
 3   lat          166633 non-null  float64
 4   heading      166633 non-null  float64
 5   course       166633 non-null  float64
 6   speed        166633 non-null  float64
 7   shiptype     166633 non-null  float64
 8   destination  166633 non-null  object
dtypes: float64(6), object(3)
memory usage: 12.7+ MB

In [65]:
df.id.nunique()

120

In [66]:
df['t'] = pd.factorize(df['t'])[0]
df['v'] = df.apply(lambda row: convert_speed(row), axis=1)
del df['speed']
del df['course']
del df['shiptype']
del df['destination']
del df['heading']
del df['shipid']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65148 entries, 502 to 371583
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   t       65148 non-null  int64
 1   lon     65148 non-null  float64
 2   lat     65148 non-null  float64
 3   id      65148 non-null  int64
 4   v       65148 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 3.0+ MB

In [67]:
filename = 'events_AIS.csv'
df.to_csv(filename, index=False, sep='|')