In [1]:
import random
import numpy as np
import pandas as pd

In [14]:
infile = "events_Approach - Bypass1000.txt"
df = pd.read_csv(infile, sep='|', names=['t', 'id', 'loc', 'v'])
# df = df.apply(lambda row: convert_loc(row), axis=1)
# df = df.apply(lambda row: convert_speed(row), axis=1)
# df['vx'] = df['vx'].astype(float)
# df['vy'] = df['vy'].astype(float)
# df['lon'] = df['lon'].astype(float)
# df['lat'] = df['lat'].astype(float)
df.head()

   t  id                 loc                  v
0  0   0       435909,520893  -192.233,-35.3033
1  0   1       639659,945893    83.0765,27.2055
2  0   2       540909,563393    163.625,-64.405
3  0   3  203409,1.01214e+06   -2.0124,-24.5743
4  0   4       300909,632143   -89.2487,-118.45