In [2]:
import random
import numpy as np
import pandas as pd

In [3]:
def convert_loc(row):  #convert longlat to meter/km
    splitted = row['loc'].split(',')
    row['lon'] = splitted[0]
    row['lat'] = splitted[1]
    return row

def convert_speed(row):  #convert longlat to meter/km
    splitted = row['v'].split(',')
    row['vx'] = splitted[0]
    row['vy'] = splitted[1]
    return row
def join_cols(row):
    row['loc'] = str(row['lon'])+','+str(row['lat'])
    row['v'] = str(row['vx'])+','+str(row['vy'])
    return row
def trunc(values, decs=0):
    return np.trunc(values*10**decs)/(10**decs)

In [49]:
filenamesList = glob.glob('events_Approach*.txt')
for i in filenamesList:
    print(i.split(' - ')[1].replace('.txt', ''))

Bypass502
Stop1000
Stop10000
Stop100000
Stop252
Stop5000
Stop50000
Stop502 UNBALAN
Stop502
U Turn502

In [50]:
import glob

filenamesList = glob.glob('events_Approach*.txt')
for target in filenamesList:
    print("Processing "+target+"...")
    df = pd.read_csv(target, sep='|', names=['t', 'id', 'loc', 'v', 'r'])
    newname = target.split(' - ')[1].replace('.txt', '')
    #Vessel datas
    df_vess = df.loc[df['id'] > 300]
    df_vess = df_vess.loc[df_vess['t'] == 0]
    df_vess['id'] = pd.factorize(df_vess['id'])[0]
    del df_vess['t']
    filename = 'vessel_'+newname+'.csv'
    df_vess.to_csv(filename, index=False, sep="|", header=False)

    #Obj datas
    df_obj = df.drop(df[df.id > 300].index)
    filename = 'obj_'+newname+'.csv'
    df_obj.to_csv(filename, index=False, sep="|", header=False)

Processing events_Approach - Bypass502.txt...
Processing events_Approach - Stop1000.txt...
Processing events_Approach - Stop10000.txt...
Processing events_Approach - Stop100000.txt...
Processing events_Approach - Stop252.txt...
Processing events_Approach - Stop5000.txt...
Processing events_Approach - Stop50000.txt...
Processing events_Approach - Stop502 UNBALAN.txt...
Processing events_Approach - Stop502.txt...
Processing events_Approach - U Turn502.txt...

In [44]:
infile = "events_Approach - U Turn502.txt"
df = pd.read_csv(infile, sep='|', names=['t', 'id', 'loc', 'v', 'r'])
# df = df.apply(lambda row: convert_loc(row), axis=1)
# df = df.apply(lambda row: convert_speed(row), axis=1)
# df['vx'] = df['vx'].astype(float)
# df['vy'] = df['vy'].astype(float)
# df['lon'] = df['lon'].astype(float)
# df['lat'] = df['lat'].astype(float)
df.head()

   t  id              loc                  v    r
0  0   0  -50340.9,693393   51.0754,-42.8456  547
1  0   1   49659.1,407143    304.483,135.651  786
2  0   2   53409.1,555893   149.663,-73.3402  607
3  0   3   84659.1,400893    174.186,128.855  779
4  0   4    255909,494643  -77.9585,-29.4434  654

In [45]:
#Vessel datas
df_vess = df.loc[df['id'] > 300]
df_vess = df_vess.loc[df_vess['t'] == 0]
df_vess['id'] = pd.factorize(df_vess['id'])[0]
del df_vess['t']
filename = 'vessel_'+str(len(df_vess))+'.csv'
df_vess.to_csv(filename, index=False, sep="|", header=False)
df_vess.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 301 to 501
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      201 non-null    int64
 1   loc     201 non-null    object
 2   v       201 non-null    object
 3   r       201 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.9+ KB

In [43]:
#Obj datas
df_obj = df.drop(df[df.id > 300].index)
filename = 'obj_'+str(df_obj.id.nunique())+'.csv'
df_obj.to_csv(filename, index=False, sep="|", header=False)
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60200 entries, 0 to 100198
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   t       60200 non-null  int64
 1   id      60200 non-null  int64
 2   loc     60200 non-null  object
 3   v       60200 non-null  object
 4   r       60200 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.8+ MB

In [21]:
# MIN_vx = df.vx.min()
# MAX_vx = df.vx.max()
# MIN_vy = df.vy.min()
# MAX_vy = df.vy.max()
# MIN_lon = df.lon.min()
# MAX_lon = df.lon.max()
# MIN_lat = df.lat.min()
# MAX_lat = df.lat.max()
MIN_vx = -220.48
MAX_vx = 919.433
MIN_vy = -622.385
MAX_vy = 347.639
MIN_lon = -159091
MAX_lon = 748657
MIN_lat = 207143
MAX_lat = 1077140
lon_mean = 327933.06507
lon_std = 268541.72758
lat_mean = 642868.54999
lat_std = 243375.45802
print("lon mean&std is "+str(lon_mean)+" to " +str(lon_std))
print("lat mean&std is "+str(lat_mean)+" to " +str(lat_std))
df.info()

lon mean&std is 327933.06507 to 268541.72758
lat mean&std is 642868.54999 to 243375.45802
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   t       200000 non-null  int64
 1   id      200000 non-null  int64
 2   loc     200000 non-null  object
 3   v       200000 non-null  object
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [22]:
vesselNum = int(df.id.max()/2)
rMin = 300
rMax = 500
data = []
i = 0
while i < vesselNum:
    vesID = i
    vx = random.uniform(MIN_vx, MAX_vx)
    vy = random.uniform(MIN_vy, MAX_vy)
    r = random.randrange(rMin, rMax)
    data.append([vesID, vx, vy, r])
    i += 1
    
result = pd.DataFrame(data, columns = ['id','vx', 'vy', 'r'])
result['lon'] = trunc(np.random.normal(lon_mean, lon_std, vesselNum), 4)
result['lat'] = trunc(np.random.normal(lat_mean, lat_std, vesselNum), 4)
result['vx'] = trunc(result['vx'], 4)
result['vy'] = trunc(result['vy'], 4)
result.head()

   id        vx        vy    r          lon          lat
0   0  236.6760  187.3267  362   55642.4565  655602.1580
1   1  538.3053 -572.3759  364  243196.4824  729136.0059
2   2  833.1571  109.9938  466  147531.5568  483841.7838
3   3  837.6722  -45.8719  336  116093.5041  335733.9667
4   4  605.4281 -373.9092  461   56988.1644  -10711.0136

In [23]:
result = result.apply(lambda row: join_cols(row), axis=1)
del result['vx']
del result['vy']
del result['lon']
del result['lat']
result['id'] = result['id'].astype(int)
neworder = ['id','loc','v', 'r']
result=result.reindex(columns=neworder)
result.head()

   id                      loc                   v      r
0   0    55642.4565,655602.158    236.676,187.3267  362.0
1   1  243196.4824,729136.0059  538.3053,-572.3759  364.0
2   2  147531.5568,483841.7838   833.1571,109.9938  466.0
3   3  116093.5041,335733.9667   837.6722,-45.8719  336.0
4   4   56988.1644,-10711.0136  605.4281,-373.9092  461.0

In [24]:
filename = 'vessel_'+str(len(result))+'.csv'
result.to_csv(filename, sep='|', header=False, index=False)