In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
def convert_loc(row):  #convert longlat to meter/km
    splitted = row['loc'].split(',')
    row['lon'] = splitted[0]
    row['lat'] = splitted[1]
    return row
def convert_speed(row):  #convert longlat to meter/km
    splitted = row['v'].split(',')
    row['vx'] = splitted[0]
    row['vy'] = splitted[1]
    return row
def join_cols(row):
    row['loc'] = str(row['lon'])+','+str(row['lat'])
    row['v'] = str(row['vx'])+','+str(row['vy'])
    return row
def trunc(values, decs=0):
    return np.trunc(values*10**decs)/(10**decs)

In [14]:
infile = "events_Approach - Bypass1000.txt"
df = pd.read_csv(infile, sep='|', names=['t', 'id', 'loc', 'v'])
# df = df.apply(lambda row: convert_loc(row), axis=1)
# df = df.apply(lambda row: convert_speed(row), axis=1)
# df['vx'] = df['vx'].astype(float)
# df['vy'] = df['vy'].astype(float)
# df['lon'] = df['lon'].astype(float)
# df['lat'] = df['lat'].astype(float)
df.head()

   t  id                 loc                  v
0  0   0       435909,520893  -192.233,-35.3033
1  0   1       639659,945893    83.0765,27.2055
2  0   2       540909,563393    163.625,-64.405
3  0   3  203409,1.01214e+06   -2.0124,-24.5743
4  0   4       300909,632143   -89.2487,-118.45

In [19]:
df.t.max()

199

In [15]:
# MIN_vx = df.vx.min()
# MAX_vx = df.vx.max()
# MIN_vy = df.vy.min()
# MAX_vy = df.vy.max()
# MIN_lon = df.lon.min()
# MAX_lon = df.lon.max()
# MIN_lat = df.lat.min()
# MAX_lat = df.lat.max()
MIN_vx = -220.48
MAX_vx = 919.433
MIN_vy = -622.385
MAX_vy = 347.639
MIN_lon = -159091
MAX_lon = 748657
MIN_lat = 207143
MAX_lat = 1077140
lon_mean = 327933.06507
lon_std = 268541.72758
lat_mean = 642868.54999
lat_std = 243375.45802
print("lon mean&std is "+str(lon_mean)+" to " +str(lon_std))
print("lat mean&std is "+str(lat_mean)+" to " +str(lat_std))
df.info()

lon mean&std is 327933.06507 to 268541.72758
lat mean&std is 642868.54999 to 243375.45802
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   t       200000 non-null  int64
 1   id      200000 non-null  int64
 2   loc     200000 non-null  object
 3   v       200000 non-null  object
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [16]:
vesselNum = int(df.id.max()/2)
rMin = 100
rMax = 400
data = []
i = 0
while i < vesselNum:
    vesID = i
    vx = random.uniform(MIN_vx, MAX_vx)
    vy = random.uniform(MIN_vy, MAX_vy)
    r = random.randrange(rMin, rMax)
    data.append([vesID, vx, vy, r])
    i += 1
    
result = pd.DataFrame(data, columns = ['id','vx', 'vy', 'r'])
result['lon'] = trunc(np.random.normal(lon_mean, lon_std, vesselNum), 4)
result['lat'] = trunc(np.random.normal(lat_mean, lat_std, vesselNum), 4)
result['vx'] = trunc(result['vx'], 4)
result['vy'] = trunc(result['vy'], 4)
result.head()

   id        vx        vy    r          lon           lat
0   0 -174.3896 -521.2237  103  266538.8448  1.226761e+06
1   1  844.3047 -353.8006  392   67839.5674  7.859141e+05
2   2  627.8013   72.9131  116  925496.1140  4.902203e+05
3   3  397.6810 -130.8363  291  367954.1074  6.765478e+04
4   4  788.5577   33.1134  133  125871.9931  1.255517e+06

In [17]:
result = result.apply(lambda row: join_cols(row), axis=1)
del result['vx']
del result['vy']
del result['lon']
del result['lat']
result['id'] = result['id'].astype(int)
neworder = ['id','loc','v', 'r']
result=result.reindex(columns=neworder)
result.head()

   id                       loc                    v      r
0   0  266538.8448,1226761.1635  -174.3896,-521.2237  103.0
1   1    67839.5674,785914.0635   844.3047,-353.8006  392.0
2   2    925496.114,490220.3081     627.8013,72.9131  116.0
3   3    367954.1074,67654.7792    397.681,-130.8363  291.0
4   4  125871.9931,1255516.6415     788.5577,33.1134  133.0

In [18]:
filename = 'vessel_'+str(len(result))+'.csv'
result.to_csv(filename, sep='|', header=False, index=False)